<!DOCTYPE html>
<html lang="en">
  <head>
    <title>not used</title>
  </head>
  <body>
    <b>To:</b> <span id="to">Test Cloud PM Team &lt;test-cloud-pm@microsoft.com&gt;; Simina Pasat &lt;siminap@microsoft.com&gt;; Villars Gimm &lt;vigimm@microsoft.com&gt;; Karl Piteira &lt;kapiteir@microsoft.com&gt;</span><br>
    <b>cc:</b> <span id="cc">Jakub Oleksy &lt;jakubo@exchange.microsoft.com&gt;; Test Cloud All &lt;test-cloud-all@microsoft.com&gt;; Mobile Center - Commerce Team &lt;mobile-center-commer@microsoft.com&gt;; Mobile Center - Auto Provisioning Team &lt;mobile-center-autopr@microsoft.com&gt;</span><br>
    <b>Title: </b><span id="title">Eng. status June 5th, 2017: Auto Provisioning, Azure Billing, Test Cloud</span>
    <h3>Engineering status</h3>
    <p>This provides a raw draft status which is used as input for the weekly status sent by PMs.<br>
      Justin send status for: Test Cloud<br>
      No standalone status is sent for: Auto-Provisioning, Azure Billing
    <p>
      <b>VSTS Backlogs</b><br>
      <a href="https://msmobilecenter.visualstudio.com/Test/_backlogs/board/Stories">
        Test Cloud</a><br>
      <a href="https://msmobilecenter.visualstudio.com/Project-100/Auto-Provisioning/_backlogs/board/Stories">
        Auto-Provisioning</a><br>
      <a href="https://msmobilecenter.visualstudio.com/Project-100/Azure-Billing/_backlogs/board/Stories">
        Azure Billing</a><br>

    <p><b>Key Objectives for Next Two Months</b>
      <ul id="key-objectives-static">
        <li>Plan technical solution for Secure Credentials Storage for Auto Provisioning
          <table>
            <tr>
              <td>Target Date:</td>
              <td><b>June 12th</b></td>
            </tr>
            <tr>
              <td>Confidence:</td>
              <td><b>Medium</b></td>
            </tr>
          </table>
          <p>Reduce uncertainty:
            <ul>
              <li>Coordinate and get agreement across all stake holders</li>
            </ul>
            <br>
        </li>

        <li>Test Cloud Security improvements roadmap
          <table>
            <tr>
              <td>Target Date:</td>
              <td><b>June 15th</b></td>
            </tr>
            <tr>
              <td>Confidence:</td>
              <td><b>High</b></td>
            </tr>
            <tr>
              <td><a href="https://msmobilecenter.visualstudio.com/Test/_workitems?id=3732&_a=edit&fullScreen=true">VSTS Story</a></td>
            </tr>
          </table>
      </ul>
      <ul id="key-objectives-vsts">
        <li><i>Auto Provisioning MVP (without secrets storage):</i><table><tr><td>Target Date</td><td><b>August 3rd</b></td></tr><tr><td>Confidence</td><td><b>Medium</b></td></tr></table><p>Reduce uncertainty by:</p><ul><li>bla bla bla</li></ul><p><a href=\"https://msmobilecenter.visualstudio.com/Project-100/_workitems?id=7417&amp;_a=edit&amp;fullScreen=true\"></a></p><br /></li>

      </ul>

    <p><b>Telemetry:</b> [PMs to report]

    <p><b>
        Risks & Notices</b><br>
      <ol>
        <li>
          Windows support: Given past history of the windows automation team, we have low confidence in the quality of the bits provided by the team. We have included this in our "Plan for a plan", but this item will likely remain as a risk to windows support "this year".
      </ol>
    <p><b>Last week (~5 select items)</b>
      <ol>
        <li>X
        <li>X
        <li>X
        <li>X
        <li>X
      </ol>
    <p><b>This week (~5 select items)</b>
      <ol>
        <li>X
        <li>X
        <li>X
        <li>X
        <li>X
      </ol>


  </body>
</html>
